$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
  font-family: 'Abel', sans-serif;
  color: #000;
  background: #f9f9f9;
  padding-top: 70px;
}
h1,h2,h3,h4,h5 {
  font-family: 'Abel', sans-serif;
}
a:hover {
  text-decoration: none;
}


.navbar {
  min-height: 40px !important;
}
.navbar-default {
  background: #006DA1;
  font-weight: bold;
}
.navbar-default .navbar-brand,
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:hover {
  color: #eee;
}
.navbar-default .navbar-nav > li > a .caret {
 border-bottom-color: #fff !important;
 border-top-color: #fff !important;
}
.container {
  position: relative;
}
.intro {
  display: none;
}




.page-header {
  border-bottom: none;
  background: #fff;
  margin: 0 0 20px 0 !important;
  padding: 0 !important;
  height: 70px;
  position: relative;
}
#logo {
  display: block;
  background: url("../images/logo.jpg") no-repeat;
  background-size: contain;
  width: 130px;
  height: 70px;
  text-indent: -9999px;
  outline: none;
}
.year-value,
.region-value {
  font-size: 20px;
  color: #999;
}
.type-value {
  font-size: 20px;
  color: #000;
}

.filter-breadcrumb {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #777;
  font-size: 20px;
}

#map {
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
  height: 400px;
}

#content {
  margin-bottom: 5rem;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow:  hidden;
}


.row-country  {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 240px;
  overflow: hidden;
  background: #fff;
  padding: 20px;
}
.loader {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 270px;
  height: 60px;
  width: 60px;
  border-radius: 5px 5px 5px 5px;
  z-index: 1000;
  text-indent: -9999px;
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.3);
}

.no-data {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: center;
}
.mi-year-value,
.mi-crude-value {
  color: #aaa;
  font-size: 12px;
}
.mi-year-value {
  display: block;
  float: right;
}
.mi-ratio-label {
  display: block;
  text-align: center;
  margin: -10px 0 5px 0;

}
.mi-ratio-value {
  display: block;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  color: #006DA1;
  font-weight: bold;
}


.hchart {
  height: 80px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}