$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
  font-family: 'Abel', sans-serif;
  color: #000;
  background: #f9f9f9;
  padding-top: 55px;
}
h1,h2,h3,h4,h5 {
  font-family: 'Abel', sans-serif;
}
a:hover {
  text-decoration: none;
}


.navbar {
  min-height: 40px !important;
  color: #fff;
}
.navbar-default {
  background: #006DA1;
  font-weight: bold;
}
.navbar-default .navbar-brand,
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:hover {
  color: #eee;
}
.navbar-default .navbar-nav > li > a .caret {
 border-bottom-color: #fff !important;
 border-top-color: #fff !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #00628F;
}

.navbar-toggle {
  padding: 4px 10px;
}
.container {
  position: relative;
}
.intro {
  display: none;
}

.page-header {
  border-bottom: none;
  background: #fff;
  margin: 0 !important;
  padding: 0 !important;
  height: 60px;
  position: relative;
}
#logo {
  display: block;
  background: url("../images/logo.jpg") no-repeat;
  background-size: contain;
  width: 130px;
  height: 60px;
  text-indent: -9999px;
  outline: none;
}
.year-value,
.region-value {
  font-size: inherit;
  color: #999;
}
.type-value {
  font-size: inherit;
  color: #000;
  .popover {
    font-size: 14px;
    width: 400px;
  }
}

.asterisk {
  cursor: pointer;
  &:hover {
    color: #999;
  }
}

.filter-breadcrumb {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #777;
  font-size: 20px;
}

#map {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
  height: 450px;
}

#content {
  margin-bottom: 3rem;
  border-left: 1px solid #ccc;
  position: relative;
  margin-top: -20px;
}


.card {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 240px;
  background: #fff;
  padding: 20px;
  .popover {
    width: 400px;
  }
}

.row-country {
  @extend .card;
}

.row-type {
  @extend .card;
  border-bottom: 0;
  &:nth-of-type(2) { border-bottom: 1px solid #ccc;}
  &:nth-of-type(3) { border-bottom: 1px solid #ccc;}
  &:nth-of-type(4) { border-bottom: 1px solid #ccc;}
  &:nth-of-type(5) { border-bottom: 1px solid #ccc;}
}

.loader {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 240px;
  height: 60px;
  width: 60px;
  border-radius: 5px 5px 5px 5px;
  z-index: 1000;
  text-indent: -9999px;
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.3);
}
.legend {
  position: absolute;
  height: 50px;
  width: 200px;
  right: 20px;
  top: 10px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  .label {
    fill: #777;
  }
}

.no-data {
  text-align: center;
}
.mi-year-value,
.mi-crude-value {
  color: #aaa;
  font-size: 14px;
}
.mi-year-value {
  display: block;
  float: right;
}
.mi-ratio-label {
  display: block;
  text-align: center;
  margin: -10px 0 5px 0;

}
.mi-ratio-value {
  display: block;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  color: #006DA1;
  font-weight: bold;
}
.more-info {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #ccc;
  border-radius: 30px;
  width: 20px;
  text-align: center;
  color: #fff;
  cursor: default;
}
.more-info:focus,
.more-info:hover {
  opacity: 0.5;
  color: #fff;
}


.hchart {
  height: 80px;
  width: 98%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#agriculture-coverage-ratio .agriculture-coverage-ratio {
  background: #fff !important;
}

.aggregate-row {
  @extend .row-country;
  padding: 0;
  & > div {
    padding: 20px;
  }
}

.aggregate-main {
  h2 { margin: 0;}
  ul {
    margin-top: 25px;
    list-style-type: none;
  }
  .mi-ratio-value { margin-top: 25px; }
  .little-values { margin-top: 25px; }
}
.study-list {
  list-style: none;
}

.aggregate-growth {
  position: relative;
  height: 100%;
  #aggregate-growth-chart {
    height: 100%;
    width: 92%;
    margin: 0 4%;
  }
}

.aggregate-bar {
  padding: 24px 20px;
  margin: 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
  .aggregate-title {
    display: inline-block;
    margin: 0 5px;
  }
  &.added-top {
    border-top: 1px solid #ccc;
  }
  & > div {
    float: right;
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    .aggregate-stat-info { color: #777; }
  }
}

.footer {
  & > div {
    padding: 0 15px;
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
  .footer-links {
    a { margin: 0 10px; }
  }
  .footer-social {
    font-size: 18px;
    a { margin: 0 5px; }
  }
}



@media (max-width: 768px) {
  .aggregate-row { height: 380px; }
  .aggregate-growth { height: 200px; }
  .aggregate-bar {
    .aggregate-title { display: block; }
    & > div {
      margin-top: 10px;
      float: none;
    }
  }
}

.leaflet-popup-content {
  .inner {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 13px;
  }
  .country-name {
    font-size: 15px;
    font-weight: bold;
  }
}

.year {
  font-weight: normal;
  color: #aaa;
}

.no-data {
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important;
  pointer-events: none;
}

.leaflet-tile-pane {
  z-index: 6 !important;
  pointer-events: none;
}

.leaflet-control-layers {
  cursor: pointer !important;
}

.leaflet-control-reset{
  height: 28px;
  width:28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-color: #8C8C84;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("../images/globe.svg");
  background-size: 15px;
  cursor: pointer;
}

.leaflet-control-layers, .leaflet-control-reset {
  &:hover {
    background-color: #f8f8f8;
  }
}

.menu-study, .menu-data, .menu-type {
  min-width: 260px;
  & > li > a {
    white-space: normal;
  }
}

#content.about, #content.partners {
  margin: 0;
  padding: 10px 0 30px;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  .container {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 0;
  }
  p { margin-bottom: 1.5em; }
  p, tbody, ul { font-family: 'DIN Next W01', serif; }
}

#content.partners img {
  width: auto;
}

.copyright {
  img {
    width: auto;
    margin-left: 12px;
  }
  .logo-box {
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .page-header {
    height: auto;
  }
  .filter-breadcrumb {
    position: relative;
    right: auto;
    bottom: auto;
    padding: 5px;
  }
}

@media (max-width: 700px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #eee;
  }
  .filter-breadcrumb {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .footer > div.copyright {
    height: 120px;
  }
}
